.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide{
  width: 500px;
  height: 500px;
  object-fit: contain;
}